:root{
    --cor-primaria: #a3c5f1; /*azul clarinho*/
    --cor-secundaria: #83A2CD; /*azul claro*/
    --cor-terciaria: #4B6387 ; /*azul médio*/
    --cor-quartaria: #1E2B40 ; /*azul escuro*/
    --cor-quintaria: #0C121D ; /*azul escurao*/
    --texto-claro: white; /*branco*/
    --texto-escuro: #1b1b1b; /*qse preto*/
    --sombra: rgb(163, 197, 241, 0.3); /*sombra azul clara*/
    --sombra-preta: rgba(0, 0, 0, 0.7); /*sombra preta*/
    --sombra-preta-hover: 0 10px 30px rgba(0, 0, 0, 2); /*sombra preta mais escura para hover*/
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2 {
  font-family: 'Bebas Neue', sans-serif;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-quintaria);
}

.banner_Sobe{
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative;
  justify-content: center;
  z-index: 1;
}

.banner_Sobe::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 600px;
  z-index: 2;
  background: linear-gradient(to bottom, transparent, white);
  pointer-events: none;
}

.titulo_Banner{
  color: var(--texto-claro);
  font-size: 100px;
  font-weight: 700;
  padding: 0 20px;
  padding-bottom: 300px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.2s;
  z-index: 1;
  font-family: 'Dirtyline36Daysoftype2022', sans-serif;
}

.sobre_Banner{
  color: var(--texto-claro);
  font-size: 30px;
  font-weight: 400;
  padding: 0 20px;
  position: absolute;
  text-align: center;
  letter-spacing: 1px;
  transition: 0.2s;
  z-index: 1;
  font-family: 'FonteProSobreMim', sans-serif;
}

.conteudo{
  background-color: var(--texto-claro);
  font-size: 40px;
  padding: 80px 80px;
  position: relative;
  z-index: 2;
}

.menu{
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--cor-quintaria);
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu nav{
    display: flex;
    justify-content: center;
}

.menu nav a{
  color: var(--texto-claro);
  font-size: 20px;
  text-decoration: none;
  margin: 0 15px;
  transition: all 0.4s;
}

.menu nav a:hover{
  transform: scale(1.2);
  transition: all 0.4s;
}

.conteudo h1{
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}

.Titulo_Sobre{
  font-family: 'FonteProSobreMim';
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.conteudo p{
  font-size: 35px;
  text-align: center;
  margin: 20px 0 45px 0;
}

.Foto_Minha{
  border-radius: 10%;
  display: block;
  margin: 0 auto 20px auto;
  box-shadow: 0 5px 20px var(--sombra-preta);
  width: 600px;
  height: auto;
  margin-bottom: 150px;
  transition: all 0.4s;
}

.FotoHover{
  transform: scale(1.05);
  transition: all 0.4s;
}

.Foto_Minha:hover{
  transform: scale(1.05);
  transition: all 0.4s;
  box-shadow: var(--sombra-preta-hover);
}

.titulo_sobre h2{
  font-size: 130px;
  line-height: 0.8;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-top: 60px;
}

.titulo_sobre{
  font-family: 'FonteProSobreMim';
  text-align: center;
  margin-left: 150px;
}

.texto_sobre{
  font-size: 100px;
  max-width: 600px;
  align-self: flex-end;
  margin-right: 260px;
  margin-bottom: 100px;
}

.lado_direito{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Conteudo_Sobre{
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 80px;
  align-items: end;
  position: relative;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 500px;
  background-color: var(--cor-quintaria);
  border-radius: 10px;
  color: var(--texto-claro);
  padding: 20px;
  margin: 20px;
  box-shadow: 0 5px 20px var(--sombra-preta);
  border-left: #d4d4d4 solid 8px;
  transition: all 0.4s;
  min-height: 450px;
}

.card:hover{
  transform: translateY(-10px) scale(1.02);
  box-shadow: var(--sombra-preta-hover);
}

.card h3{
  font-family: 'Poppins', sans-serif;
  padding-bottom: 5px;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.Cards_Linha{
  border-style: dashed;
  border-width: 1px;
  color: var(--texto-claro);
  margin-bottom: 20px;
}

.card p{
  font-size: 30px;
  text-align: left;
}

.card a{
  display: block;
  text-align: center;
  margin-top: 20px;
  color: var(--texto-claro);
  font-size: 25px;
  text-decoration: none;
  background-color: #3a3a3a;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.4s;
  width: 200px;
  margin: 20px auto;
}

.card-dentro a:hover{
  background-color: #999999;
  transition: all 0.4s;
}

.Titulo_Projetos{
  font-family: 'FonteProSobreMim';
  font-size: 80px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--texto-escuro);
}

.animar {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1.2s ease;
}

.animar.ativo {
  opacity: 1;
  transform: translateY(0);
}